[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toolz = "*"
pyspark = "*"
pytest = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"
flake8 = "*"
pytest = "*"
bandit = "*"
pydocstyle = "*"
pylint = "*"

[requires]
python_version = "3.8"
